<div class="remove-container container-block">
  <!-- <h2 class="container-block-title">More Profiles</h2>
  <ul class="list-unstyled interests-list">
    <li><a target="_blank" href="http://bit.ly/2yeOby4">Slack Channel</a></li>
    <li><a target="_blank" href="https://www.facebook.com/groups/reactnativevietnam/">React Native Vietnam</a></li>
    <li><a target="_blank" href="https://github.com/react-native-vietnam">React Native Vietnam Github</a></li>
    <li><a target="_blank" href="https://www.youtube.com/channel/UCLEZH8_oOADMPNHDebFZaFA">Youtube Channel</a></li>
  </ul> -->
</div>
<!--//About-->
